@import "tailwindcss";

@theme {
  --font-sans: "Quicksand", "Segoe UI", sans-serif;
}

html, body {
  font-family: var(--font-sans);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* slate-50 */
}
